<div class="col-lg-4" style="padding: 15px;">
    <div class="product-item">
        <a href="{% url 'product' product_image.product.id %}" style="text-decoration: none;">
            <h4 style="color: #28a745">{{ product_image.product.name }} </h4>
        </a>
        <div>
            <a href="{% url 'product' product_image.product.id %}">
                <img src="{{ product_image.image.url }}" class="img-responsive" style="max-width: 100%; height: auto;">
            </a>
        </div>
        <p style="margin-bottom: 5px;"> {{ product_image.product.description|truncatechars_html:20 }}</p>
        <div>
            <h5 style="color: #3570b0; margin-bottom: .2rem;">{{ product_image.product.price }} RUB</h5>
        </div>
        <div class="add-to_cart_btn">
            <button class="btn btn-success">
                Добавить в корзину
            </button>
        </div>
    </div>
</div>