{% extends 'base.html' %}

{% block content %}
<div class="btn-group" data-toggle="buttons">
	<a href="/" class="btn btn-success btn-lg">Проекты</a>
	<a href="/sip" class="btn btn-success btn-lg active">СИП панели</a>
	<a href="/" class="btn btn-success btn-lg">Теплые крыши, перекрытия для домой из камня и дерева <span class="badge badge-secondary">New</span></a>
	<a href="/" class="btn btn-success btn-lg">Отзывы</a>
	<a href="/" class="btn btn-success btn-lg">Контакты</a>
</div>
<div class="jumbotron">

</div>
{% endblock content %}